@import url(../../styles/components.css);

.offer-header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: end;
	height: 40vh;
	background-image: url(../../assets/img/Dewwwelopment-oferta-projektowa.jpg);
	background-size: cover;
	background-position: bottom;
}
.offer-header h2 {
	z-index: 1;
	font-size: 4rem;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-weight: 600;
}
.offer-header-shadow {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: url("../../assets/img/shape-overlay-2\ \(1\).png");
	opacity: 0.8;
}
/* ONE PAGE */
.offer-box {
	position: relative;
	background-color: var(--light-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
	z-index: 1;
}
.section-h4-title {
	color: var(--break-color);
}
.offer-wrapper {
	margin: 2em;
	display: flex;
	background-color: var(--light-color);
}
.offer-description {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	min-height: 85vh;
	height: auto;
	margin-right: 4em;
}
.right {
	margin-left: 4em;
}

.offer-media {
	margin-top: 3em;
	background-color: var(--main-color);
	height: 100%;
}

.right video {
	margin: 2em 2em -2em -2em;
	height: auto;
	width: 100%;
}
.left video {
	margin: 2em 2em -2em 2em;
	height: auto;
	width: 100%;
}
.right img {
	margin: 2em 2em -2em -2em;
	height: auto;
	width: 100%;
}
.e-commerce h3,
.e-commerce h5,
.e-commerce p {
	margin-bottom: 1em;
}
/* courses */

.courses-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 40%;
	height: 50%;
	margin: 1em 0;
}
.courses-title h2 {
	margin: 0.5em 0;
}
.task-icon img {
	width: 6em;
}
.task-icon {
	width: 30%;
	height: auto;
	text-align: center;
}
.task-content {
	width: 400px;
}
.task-wrap {
	display: flex;
	justify-content: center;
	padding: 1em 3em;
}
.courses-tasks {
	width: 100%;
	margin: 2em 0;
}
.task-box {
	width: 90%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.task-content .decoration-line {
	height: 2px;
	background-color: var(--main-color);
	width: 30%;
	margin-bottom: 1em;
}
/* CTA Courses */
.course-info-cta {
	position: relative;
	height: 40vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.course-header-cta {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-image: url("../../assets/img/dewwwelopment-low-resolution-logo-white-on-black-background\ \(2\).png");
	background-size: cover;
	background-position: center;
}
.course-header-cta h3 {
	z-index: 10;
	text-shadow: 5px 5px 5px #000;
}
.course-header-cta-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		100deg,
		var(--main-color) 0%,
		var(--dark-main-color) 74%
	);
	opacity: 0.95;
}
.course-desctiption-cta {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: var(--light-color);
	max-width: 100%;
	margin: 1em 2em 1em -2em;
	z-index: 10;
	box-shadow: 3px 3px 10px 5px var(--dark-main-color);
	padding: 2em;
	text-shadow: 0px 1px 1px var(--break-color);
	animation: fade-left 1s;
}
/* Support */
.support {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em 1em;
	background-color: var(--light-color);
}
.support-cards-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 100%;
	margin: 2em auto;
}
.support-card {
	display: flex;
	flex-direction: column;
	max-width: 30%;
	padding: 2em;
	border: 1px solid var(--dark-color);
	transition: border 0.3s, box-shadow 0.3s;
}
.support-card:hover {
	border: 1px solid var(--main-color);
	box-shadow: 0px 0px 10px var(--main-color);
}
.support-card h3 {
	text-align: center;
}
.support-card .decoration-line {
	background-color: var(--main-color);
	height: 1px;
	width: 50%;
	align-self: center;
	margin: 1em 0 2em 0;
}
/* footer */
.footer-logo {
	position: relative;
	height: 20vh;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0;
	background-image: linear-gradient(
		180deg,
		var(--light-color) 0%,
		var(--medium-light-color) 74%
	);
}
.footer-logo img {
	width: 30%;
}

@media (max-width: 575.98px) {
	.offer-header {
		height: 30vh;
	}
	.offer-header h2 {
		font-size: 3rem;
	}
	.offer-wrapper {
		flex-direction: column;
	}
	.offer-description {
		order: 3;
	}
	.offer-description h3 {
		font-size: 1.5rem;
		margin-top: 2em;
	}
	.offer-description p {
		margin: 1em 0;
	}
	.offer-media {
		order: 1;
		margin-bottom: 2em;
	}
	.benefits-cta {
		flex-direction: column;
		min-height: 25vh;
	}
	.right {
		margin: 0;
	}
	.right video {
		margin: 1em 1em -1em -1em;
	}
	.left video {
		margin: 1em 1em -1em 1em;
	}
	.right img {
		margin: 1em 1em -1em -1em;
	}
	.advanced-project .offer-description {
		min-height: 55vh;
	}
	.e-commerce h3 {
		margin-top: 2em;
	}
	.courses-title {
		width: 80%;
	}
	.courses h2 {
		font-size: 3rem;
	}
	.courses h4 {
		font-size: 1rem;
	}
	.courses-tasks {
		flex-direction: column;
		margin: 0;
	}
	.task-wrap {
		padding: 1em 0;
	}
	.task-icon img {
		width: 4em;
	}
	.task-box {
		flex-direction: column;
	}
	.task-content {
		margin-bottom: 1em;
		min-width: 30vh;
	}
	.task-icon {
		margin: 1em 2em;
	}
	.advanced-project {
		max-width: 100%;
		overflow: hidden;
	}
	.course-info-cta {
		display: flex;
		flex-direction: column;
		height: 70vh;
	}
	.course-header-cta {
		min-height: 35vh;
		text-align: center;
	}
	.course-desctiption-cta {
		min-height: 30vh;
		max-width: 90%;
		margin: -3em 2em;
	}
	.support h2 {
		font-size: 2rem;
	}
	.support-cards-box {
		flex-direction: column;
		max-width: 90%;
	}
	.support-card {
		max-width: 100%;
		margin-bottom: 2em;
	}
	.support-card:last-child {
		margin-bottom: 0;
	}
	.footer-logo img {
		width: 50%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px){
	.offer-header {
		height: 30vh;
	}
	.offer-header h2 {
		font-size: 3rem;
	}
	.offer-wrapper {
		flex-direction: column;
	}
	.offer-description {
		order: 3;
	}
	.offer-description h3 {
		font-size: 1.5rem;
	}
	.offer-description p {
		margin: 1em 1em;
	}
	.offer-media {
		order: 1;
		margin-bottom: 2em;
	}
	.benefits-cta {
		flex-direction: column;
		min-height: 25vh;
	}
	.right {
		margin: 0;
	}
	.right video {
		margin: 1em 1em -1em -1em;
	}
	.left video {
		margin: 1em 1em -1em 1em;
	}
	.right img {
		margin: 1em 1em -1em -1em;
	}
	.advanced-project .offer-description {
		min-height: 55vh;
	}
	.e-commerce h3 {
		margin-top: 2em;
	}
	.courses-title {
		width: 80%;
	}
	.courses-tasks {
		margin: 0;
	}
	.task-wrap {
		padding: 1em 0;
	}
	.task-box {
		flex-direction: column;
	}
	.task-content {
		margin-bottom: 1em;
		min-width: 30vh;
	}
	.task-icon {
		margin: 1em 2em;
	}
	.course-info-cta {
		display: flex;
		flex-direction: column;
		height: 70vh;
	}
	.course-header-cta {
		min-height: 35vh;
		text-align: center;
	}
	.course-desctiption-cta {
		min-height: 30vh;
		max-width: 90%;
		margin: -3em 2em;
	}
	.support-cards-box {
		flex-direction: column;
		max-width: 90%;
	}
	.support-card {
		max-width: 100%;
		margin-bottom: 2em;
	}
	.support-card:last-child {
		margin-bottom: 0;
	}
	.footer-logo img {
		width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px){
	.offer-wrapper{
		flex-direction: column-reverse;
	}
	.offer-media {
		max-width: 70%;
	 	margin: 0 auto;
	}
	.offer-description{
		min-height: 55vh;
		margin-top: 3em;
	}
	.benefits-cta{
		font-size: 0.7rem;
		text-align: center;
		height: 4em;
	}
	.offer-description p {
		margin: 1em 1em;
	}
	.advanced-project .offer-wrapper{
		flex-direction: column;
		max-width: 100vh;
	}
	.advanced-project .right {
		margin: 3em 0;
	}
	.advanced-project .offer-description{
		min-height: 45vh;
		margin-top: 3em;
	}
	.e-commerce .offer-description p{
		margin-bottom: 2em;
	}
	.courses-title {
		width: 70%;
	}
	.task-box {
		flex-direction: column;
		width: 100%;
	}
	.task-content{
		max-width: 35vh;
	}
	.course-info-cta {
		display: flex;
		flex-direction: column;
		height: 60vh;
	}
	.course-header-cta {
		min-height: 30vh;
		text-align: center;
	}
	.course-desctiption-cta {
		min-height: 30vh;
		max-width: 90%;
		margin: -3em 2em;
	}
	.support-card{
		min-width: 30vh;
		margin-bottom: 2em;
	}
	.support-card:last-of-type{
		min-width: 70vh;
	}
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.nav-mobile-btn {
		display: none;
	}
	.nav-desktop {
		display: flex;
	}
	.offer-wrapper{
		flex-direction: column-reverse;
	}
	.offer-media {
		max-width: 70%;
	 	margin: 0 auto;
	}
	.one-page .offer-description{
		margin-top: 2em;
		min-height: 60vh;
	}
	.benefits-cta{
		font-size: 0.9rem;
		text-align: center;
		height: 4em;
		margin: 3em 0;
	}
	.advanced-project .offer-wrapper{
		flex-direction: column;
		max-width: 100vh;
	}
	.advanced-project .right {
		margin: 3em 0;
	}
	.advanced-project .offer-description{
		min-height: 45vh;
		margin-top: 3em;
	}
	.e-commerce .offer-description{
		min-height: 100vh;
	}
	.e-commerce .offer-description p{
		margin-bottom: 2em;
	}
	.e-commerce .offer-description h3 {
		margin-top: 2em;
	}
	.courses-title {
		width: 80%;
	}
	.task-content{
		max-width: 30vh;
	}
	.courses-tasks {
		max-width: 90%;
	}
	.task-icon img{
		max-width: 7vh;
		margin-right: 2em;
	}
	.course-info-cta{
		height: 30vh;
		text-align: center;
	}
	.course-desctiption-cta{
		margin-left: -1em;
	}
}
@media (min-width: 1200px){
	.nav-mobile-btn {
		display: none;
	}
	.nav-desktop {
		display: flex;
	}
	.offer-media{
		position: sticky;
		top: 7em;
		bottom: 0;
		
	}
	.offer-price,.e-commerce-price{
		margin-top: 2em;
	}
}