@keyframes fade-left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translate(0);
	}
}
@keyframes fade-up {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes cta-fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		color: var(--accent-color);
		transform: scale(1.05);
	}
	100% {
		color: var(--main-color);
	}
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes rotate-button {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0);
	}
}
