:root {
	--main-color: rgb(15, 92, 85);
	--dark-main-color: #07332f;
	--dark-color: #000000;
	--break-color: #7d7d7c;
	--h4-color: #828282;
	--light-color: #ffffff;
	--medium-light-color: #e2e8f0;
	--darkest-light-color: #bfc0c0;
	--accent-color: rgb(245, 203, 92);
	--nav-main-color: rgba(15, 92, 85, 0.8);
	--nav-break-color: rgba(125, 125, 124, 0.9);
	--nav-accent-color: rgba(245, 203, 92, 0.9);
	--alert-color :rgb(165, 21, 21);
}
