h1,
h2,
h3,
h4,
h5 {
	font-family: "Proza Libre", sans-serif;
}

p {
	font-family: "Hind", sans-serif;
}
.btn {
	font-family: "Proza Libre", sans-serif;
	font-weight: bold;
}

h4 {
	text-transform: uppercase;
	font-weight: 500;
	color: var(--dark-main-color);
}
.question-btn {
	font-family: "Proza Libre", sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
}
.contact-items {
	a {
		font-family: "Hind", sans-serif;
	}
}
.faq-answer-text {
	font-weight: normal;
	color: var(--break-color);
}
.offer-description h3 {
	font-size: 2rem;
}
.offer-description h5 {
	font-size: 1.2rem;
}
.offer-description p {
	color: var(--break-color);
}
.benefits-cta {
	font-weight: bold;
	color: var(--main-color);
}

.courses-title h2 {
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
}
.task-content h5 {
	font-size: 1.2rem;
}
.task-content p {
	color: var(--break-color);
}
.course-header-cta {
	h3 {
		font-size: 1.5rem;
		color: var(--light-color);
	}
}
.support-card h3 {
	font-size: 1.5rem;
}
.support-description {
	color: var(--break-color);
}
.footer a {
	text-decoration: none;
	font-family: "Proza Libre", sans-serif;
	color: var(--dark-color);
	padding: 1em;
	text-transform: uppercase;
	transition: color 0.3s, transform 0.3s;
}
.footer a:hover {
	color: var(--main-color);
	transform: scale(1.1);
}
.footer a:focus {
	outline: none;
	color: var(--main-color);
	text-decoration: underline;
}
.nav-desktop li{
	list-style: none;
}

.nav-desktop ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Proza Libre", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	margin: 0 0.5em;
	color: var(--dark-color);
}


.nav-mobile a {
	text-transform: uppercase;
	font-family: "Proza Libre", sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: var(--light-color);
	text-shadow: 5px 5px 5px var(--main-color);
}
